<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Kristina Pershina</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

	
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<div>
	<!-- Navigation section
	================================================== -->
	<section class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand" style="color:#e7552c">Kristina Pershina</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="#home" class="smoothScroll">Наверх</a></li>
					<li><a href="#about" class="smoothScroll">Обо мне</a></li>
					<li><a href="#tests" class="smoothScroll">Примеры тестов</a></li>
					<li><a href="#certificates" class="smoothScroll">Сертификаты</a></li>
					<li><a href="#contact" class="smoothScroll">Контакты</a></li>
				</ul>
			</div>

		</div>
	</section>

	<!-- Home section
	================================================== -->
	<section id="home" class="parallax-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<h2 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#e7552c">Kristina Pershina</h2>
					<h1 class="wow fadeInDown">QA Automation</h1>
					<a href="../static/Kristina_Pershina_CV.pdf" target="_blank" class="btn btn-danger wow fadeInUp" data-wow-delay="0.4s">Скачать CV</a>
					<a href="https://github.com/Badmovochka" target="_blank" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.6s">GitHub</a>
				</div>

			</div>
		</div>
	</section>




	<!-- about section
	================================================== -->
	<section id="about" class="paralla-section">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-12">
					<img src="../static/images/words-cloud.png" class="img-responsive" alt="about img 1">
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="about-des">
						<h4>Знания и навыки</h4>
						<h3>Знания:</h3>
						<p>Теория тестирования, Мануальное тестирование, Автоматизированное тестирование </p>
						<h3>ПО и технологии:</h3>
						<p>Test Rail, Postman, Jira, SQL, JSON, Rest API, Python, Pytest, Selenium, Allure, CSS, Linux, Bash</p>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="about-des">
						<h4>Опыт работы</h4>
						<h3>QA Specialist/Manager/Director (Logistics)</h3>
						<h5 style="color:#232122">2018-2024 Alpha Air Agency</h5>
						<p>Построение и поддержание системы менеджмента качества организации согласно стандарту ISO 9001, обучение персонала, контроль выполнения требований посредством аудитов и использования контрольных точек процессов.</p>
						<p>Поддержание письменной документации в актуальном состоянии (более 50 инструкций и несколько сотен форм).</p>
						<p>Сертификация ISO 9001:2015 получена в 4-х офисах с первого раза, ежегодное подтверждение соответствия без замечаний или с одной формальной рекомендацией. Успешно пройденные многочисленные аудиты клиентов, проведение аудитов постащиков.</p>
						<h3>Logistics specialist</h3>
						<h5 style="color:#232122">2013-2018 Alpha Air Agency</h5>
						<p>Подготовка документов для перевозки грузов, планирование и контроль перевозки, управление связанными службами и поставщиками.</p>
						<p>В ходе этой работы автоматизировала создание множества документов (посредстом Excel), выстроила процессы, в связи с чем получила повышение до QA специалиста.</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-12" id="work-exp">
					<img src="../static/images/working-experience.jpg" class="img-responsive" alt="about img 2">
				</div>

			</div>

			<div class="row">

				<div class="col-md-6 col-sm-12">
					<img src="../static/images/me.jpeg" class="img-responsive" alt="about img 1">
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="about-des">
						<h4>О себе</h4>
						<h3>Кристина Першина</h3>
						<p>Любознательна, искренне увлекаюсь тем, что делаю, внимательна к деталям, имею способности к формальной логике и хорошую память</p>
						<h4>Хобби</h4>
						<p>Изучение новых областей и создание чего-либо своими руками и идеями, например: проектирование и сборка мебели, варка сыра, рисование, планирование путешествий, кулинария</p>
						<p>Люблю настольные игры!</p>
						<p>Гидропоника комнатных растений - выращиваю дерево манго, фикусы, а в сезон также плодоносящие растения (огурцы, перец хабанеро) в гидропонной установке на солнечных батареях без использования почвы</p>
						<p>В ходе своих увлечений и проектов увлеклась программированием (Ardiuno, Python) и поняла, что хочу развиваться в этом направлении. Так я оказалась на курсах автоматизированного тестирования, которые выбрала за обилие технологий и структурный подход.</p>

					</div>
				</div>

			</div>

		</div>
	</section>

	<!-- Tests section
	================================================== -->
	<section id="tests" class="paralla-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="tests-des">
						<h2>Примеры тестов</h2>
						<h3>Примеры UI-тестов написаны для сайта habr.com</h3>
						<p>Кнопка "UI Тест" запустит тесты, кнопка "Отчёт Allure" сгенерирует отчёт. Тесты включают в себя проверки:</p>
						<ul>
							<li>хедера и футера: видимость, кликабельность элементов, текст кнопки и правильность ссылки</li>
							<li>поисковой строки: ввод запроса в строку, переход по кнопке "поиск", проверка того, что полученные результаты отобразились, их больше одного и они действительно содержат искомое значение </li>
							<li>радио-баттоны и чекбоксы в меню настроек: проверка видимости и кликабельности элементов, проверка, что элементы выбраны </li>
						</ul>
						<p style="text-align: center">Среднее время выполнения - 2 минуты</p>
					</div>

					<div class = "ui-buttons">
						<a href="/ui_test" id="ui_tests_button" onclick="Show-allure-button;" target="_self" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.6s">UI Тест</a>
					</div>
					<div class = "ui-buttons">
						<a href="/runallure" id="run_allure_button" target="_self" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.6s">Отчёт allure</a>
					</div>

				</div>



				<div class="col-md-6 col-sm-12" >
					<img src="../static/images/tests-bg.jpg" class="img-responsive" alt="tests img">
				</div>

			</div>

		</div>
	</section>


	<!-- certificates section
	================================================== -->
	<section id="certificates" class="paralla-section">
		<div class="container">
			<div class="row">

				<h2>Дипломы и сертификаты</h2>
				<h4>Пройденные курсы и обучение</h4>

				<div class="blog-masonry masonry-true">
					<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp">
						<div class="blog-wrapper">
							<img src="../static/images/iso.jpg" class="img-responsive" alt="blog img">
							<h3>ISO 9001:2015</h3>
							<small>Bureau Veritas</small>
							<p>Всемирно признанный стандарт Системы менеджмента качества.<br>
								<b>Имею более 6 лет опыта в разработке и поддержке СМК</b></b><br>
								Также прошла обучение стандарту ISO 19011:2011 «Руководящие указания по аудиту систем менеджмента» <b>и имею соответствующий практический опыт</b></p>
						</div>
					</div>
					<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
						<div class="blog-wrapper">
							<img src="../static/images/question.jpg" class="img-responsive" alt="blog img">
							<h3>Автоматизированное тестирование (в процессе)</h3>
							<small>It Step</small>
							<p>Теория тестирования, Мануальное тестирование, Автоматизированное тестирование, SQL, Postman, Python, Selenium, Pytest, Allure</p>
						</div>
					</div>
					<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="blog-wrapper">
							<img src="../static/images/certificate-1.png" class="img-responsive" alt="blog img">
							<h3>SQL Basics</h3>
							<small>Sololearn</small>
							<p>Базовые знания об SQL: запросы к БД, синтаксис, типы данных, сортировка, фильтрация, поиск по паттерну, условия, группировка данных</p>
						</div>
					</div>
					<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
						<div class="blog-wrapper">
							<img src="../static/images/certificate-2.jpg" class="img-responsive" alt="blog img">
							<h3>SQL Intermediate</h3>
							<small>Sololearn</small>
							<p>Углубленное изучение SQL: строковые и математические функции, первичные и внешние ключи, joins, union</p>
						</div>
					</div>
					<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.0s">
						<div class="blog-wrapper">
							<img src="../static/images/question.jpg" class="img-responsive" alt="blog img" height="120%">
							<h3>Веб-разработка (в процессе)</h3>
							<small>Sololearn</small>
							<p>HTML-разметка, CSS, JavaScript (basics)</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>


	<!-- Contact section
	================================================== -->
	<section id="contact" class="parallax-section">
		<div class="container">
			<div class="row">

				<!-- Contact form section
				================================================== -->
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.6s">
					<form action="https://formspree.io/f/movaadgg" method="post">
						<div class="col-md-12 col-sm-12">
							<input type="text" class="form-control contact-form__name" placeholder="Имя и/или название компании" name="name" id="name">
							<div class="contact-form__error contact-form__error_name"></div>
							<input type="email" class="form-control contact-form__email" placeholder="E-mail" name="email" id="email">
							<div class="contact-form__error contact-form__error_email"></div>
							<input type="text" class="form-control contact-form__subject" placeholder="E-mail subject" name="subject">
							<div class="contact-form__error contact-form__error_subject"></div>
							<textarea name="message" rows="8" class="form-control contact-form__message" id="message" placeholder="Текст" message="message"></textarea>
							<div class="contact-form__error contact-form__error_message"></div>
						</div>
						<div class="col-md-6 col-sm-6">
							<input name="submit" type="submit" class="form-control" id="submit" value="Отправить">
						</div>
					</form>
				</div>

				<!-- Contact detail section
				================================================== -->
				<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
					<div class="contact-detail">
						<h2>Напишите мне</h2>
							<div>
								<h4>Контакты и ссылки:</h4>
								<ul class="social-icon">
									<li><a href="https://t.me/Badmovochka" class="fa-brands fa-telegram fa-xl" data-wow-delay="0.25s"></a></li>
									<li><a href="https://wa.me/375291278876" class="fa-brands fa-whatsapp fa-xl" data-wow-delay="0.5s"></a></li>
									<li><a href="mailto:badmovochka@gmail.com" class="fa-sharp fa-regular fa-at fa-xl" data-wow-delay="1s"></a></li>
									<li><a href="https://github.com/Badmovochka" class="fa-brands fa-github fa-xl" data-wow-delay="0.75s"></a></li>
								</ul>
							</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>

<!-- Footer section
================================================== -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
				<h2>Kristina Pershina</h2>
				<p>QA Automation</p>
			</div>
			<div class="link-list col-md-2 col-sm-2 wow fadeInUp" data-wow-delay="0.6s">
				<h2>Навигация</h2>
				<a href="#home">Наверх</a>
				<a href="#about">Обо мне</a>
                <a href="#tests">Примеры тестов</a>
				<a href="#certificates">Сертификаты</a>
				<a href="#contact">Контакты</a>
			</div>
			<div class="col-md-2 col-sm-2 wow fadeInUp" data-wow-delay="0.9s">
				<h2>Network</h2>
				<ul class="social-icon">
					<li><a href="https://t.me/Badmovochka" class="fa-brands fa-telegram fa-xl" data-wow-delay="0.25s"></a></li>
					<li><a href="https://wa.me/375291278876" class="fa-brands fa-whatsapp fa-xl" data-wow-delay="0.5s"></a></li>
					<li><a href="mailto:badmovochka@gmail.com" class="fa-sharp fa-regular fa-at fa-xl" data-wow-delay="1s"></a></li>
					<li><a href="https://github.com/Badmovochka" class="fa-brands fa-github fa-xl" data-wow-delay="0.75s"></a></li>
				</ul>
			<div>

		</div>
	</div>

</footer>

<!-- Javascript 
================================================== -->
<script src="../static/js/jquery.js"></script>
<script src="https://kit.fontawesome.com/62f4f6261a.js" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/jquery.nav.js"></script>
<script src="../static/js/jquery.parallax.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/isotope.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/counter.js"></script>
<script src="../static/js/custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/mail/js/mail.js"></script>
<script src="../static/js/tests.js"></script>

</body>
</html>